ul.small-margin {
  margin-left: 15px;
  margin-right: 15px;
}

li {
    margin-bottom: 0.4em;
}

.avatar.default {
    background-image: app-asset-url("avatar.png");
}

.centered {
    text-align:center;
}

.ticket_status_label {
    font-size: 10px;
    display: inline-block;
    padding: 0 4px;
    line-height:15px;
}

section[data-details-notes] {
  .details-notes {
    margin-left: 15px;
    margin-right: 15px;

    hr {
      border-top: 1px solid #f0f0f0;
    }

    label {
      font-size: 11px;
      font-family: "Lucida Grande";
      color: #999;
    }

    textarea {
      width: 100%;
      box-sizing: border-box;
      border: 0px;
      font-size: 12px;
      font-family: "Lucida Grande";
      color: #444;
      line-height: 1.5;
      padding: 0px;
      outline: none;
      margin-top: 3px;
      margin-bottom: 3px;
    }
  }
}

section[data-user] {
  background-color: #fff;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 4px;
  padding: 0px;
  padding-top: 15px;

  .expandBar {
    background-color: rgb(251, 251, 251);
    border-top: 1px solid rgb(238, 238, 238);
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 20px;

    &:hover {
      border-top: 1px solid rgb(213, 213, 213);
      background-image: -moz-linear-gradient(90deg,rgba(0, 0, 0, 0.08) 0%, rgba(245,245,245,0) 100%);
      background-image: -webkit-linear-gradient(90deg,rgba(0, 0, 0, 0.08) 0%, rgba(245,245,245,0) 100%);
      background-image: -ms-linear-gradient(90deg,rgba(0, 0, 0, 0.08) 0%, rgba(245,245,245,0) 100%);
    }

    span {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }


  .avatar {
    height: 45px;
    width: 45px;
    margin-right: 10px;

    img {
      border-radius: 4px;
    }
  }

  .name {
    font-family: "Lucida Grande";
    font-size: 14px;
    line-height: 1.286;
    color: #444;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .email, .phone {
    font-size: 11px;
    font-family: "Lucida Grande";
    color: #999;
    line-height: 1.286;
    margin-bottom: 10px;
    padding-bottom: 0px;
    margin-left: 55px;
  }

  .ticket_details {
    margin-top: 15px;

    .count {
      width: 22px;
      display: inline-block;
      font-size: 11px;
      font-family: "Lucida Grande";
      color: #999;
      padding-left: 5px;
    }
  }
}